.essay-center {
  width:  65vw;
  height: 85vh;
  background-color: blanchedalmond !important;
  margin: auto;
  text-align: center;
}
.essaybox {
    width:  60%;
    height: 65%;
    margin: auto;
    margin-top: 10%;
    margin-bottom: 10%;
    resize: vertical;
}
#header {
  margin: auto;
  margin-top: 5%;
}