#main-container {
    word-wrap: break-word;
    width: 70%;
    border: 2px solid black;

}

.chunk {
    border: 1px solid red;
}

.chunk:hover {
    border: 1px solid green;
}

.feedback {
    text-align: center;
}