.row {
    width: 100%;
    border: 1px solid green;
    border-top: none;
}

.feedbackbox {
    font-size: 12px;
}

#feedback-list {
    position: relative;
    max-height: 100%;
    overflow: auto;
    text-align: left;
}

.date {
    margin: auto;
    float: left;
}

#score {
    text-align: right;
    color: green;
    font-size: 5vh;
    margin: auto;
}