.home {
    text-align: center;
}

.ul {
    border-bottom: 1.5px solid currentColor;
}

.homecard {
    margin: auto;
    width: 55%;
    background-color: black !important;
    margin-top: 10vh; 
    border-color: darkslategray !important;
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.4), 0 24px 80px 0 rgba(0, 0, 0, 0.6);
    
}

.homecardbody {
    vertical-align: middle;
    background-color: black;
    color: lightgray;
}

.homelistgroup {
    margin-top: 2vh;
    font-size: large;
    max-width: 95%;
    margin-left: auto;
    margin-right: auto;
}

.homelistitem {
    background-color: black !important;
    color: lightgray !important;
    border-color: lightslategrey !important;
}

.homebuttons {
    margin-top: 10vh;
}

.homebutton {
    display: inline-block;
    margin-left: 12%;
    margin-right: 12%;
}